.page-container {
    display: flex;
    height: 100vh; /* Hauteur de la fenêtre du navigateur */
}

.sidebar {
    flex: 0 0 250px;
    height: 100vh;
}

.content-lists {
    flex-grow: 1;
    background-color: #f0f0f0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-x: auto; /* Défilement horizontal pour le contenu dépassant */
    height: 100%; /* Ajustez si nécessaire pour éviter le dépassement vertical */
}
