<!-- Section Navbar -->
<app-navbar (sectionNavigate)="scrollTo($event)" (loginClicked)="openLoginForm()"></app-navbar>

<div class = "container">

  <ng-container *ngIf="!isAuthenticated; else userHomePage">

    <!-- Section Sidebar -->
    <div class="sidebar">
      <div class="line"></div>
      <button (click)="scrollTo('accueil-inscription')" [ngClass]="{'active': currentSection === 'accueil-inscription'}">⚪️</button>
      <button (click)="scrollTo('initiation')" [ngClass]="{'active': currentSection === 'initiation'}">⚪️</button>
      <button (click)="scrollTo('trello-action')" [ngClass]="{'active': currentSection === 'trello-action'}">⚪️</button>
      <button (click)="scrollTo('temoignages')" [ngClass]="{'active': currentSection === 'temoignages'}">⚪️</button>
      <button (click)="scrollTo('a-propos')" [ngClass]="{'active': currentSection === 'a-propos'}">⚪️</button>
      <div class="line"></div>
    </div>

    <!-- Section Inscription  & Lien Connexion-->
    <div id="accueil-inscription" class="full-page-section" (mouseenter)="setCurrentSection('accueil-inscription')">
      <h2>Inscription</h2>
      <div class="inscription-content">
        <p>Bienvenue sur notre plateforme Trello. Inscrivez-vous dès maintenant pour profiter de tous nos services.</p>
        
        <!-- Conteneur pour le champ de saisie et le bouton -->
        <div class="email-form">
          <div class="input-container">
            <input type="email" id="userEmail" name="userEmail" [(ngModel)]="userEmail" required (keyup.enter)="openRegistrationForm()">
            <div class="error-msg" [class.active]="emailErrorMsg">{{ emailErrorMsg }}</div>
          </div>
          <button (click)="openRegistrationForm()">S'inscrire</button>
        </div>
        <p>Vous avez déjà un compte ? <a href="#" (click)="openLoginForm()">Connectez-vous ici</a></p>
        </div>
    </div>

    <!-- Section Tuto -->
    <div id="initiation"  class="full-page-section" (mouseenter)="setCurrentSection('initiation')">  <h2>Initiation à Trello</h2>
      <div class="initiation-content">
        <!-- Contenu de l'initiation à Trello -->
      </div>
    </div>

    <!-- Section Action -->
    <div id="trello-action" class="full-page-section" (mouseenter)="setCurrentSection('trello-action')">
      <h2>Trello en action</h2>
      <div class="trello-action-content">
        <!-- Contenu de Trello en action -->
      </div>
    </div>

    <!-- Section Témoignage -->
    <div id="temoignages" class="full-page-section" (mouseenter)="setCurrentSection('temoignages')">
      <h2>Témoignages</h2>
      <div class="temoignages-content">
        <div class="temoignage">
          <p>Trello a vraiment simplifié la gestion de projets pour notre équipe. C'est un outil incroyablement efficace.</p>
          <p><strong>John Doe</strong>, Chef de projet</p>
        </div>
        <div class="temoignage">
          <p>Je recommande Trello à tous ceux qui veulent organiser leur travail de manière collaborative. C'est un jeu d'enfant.</p>
          <p><strong>Alice Smith</strong>, Freelancer</p>
        </div>
        <div class="temoignage">
          <p>Trello a changé la donne pour notre entreprise. Nous sommes plus productifs que jamais.</p>
          <p><strong>Robert Johnson</strong>, PDG</p>
        </div>
      </div>
    </div>

    <!-- Section A propos -->
    <div id="a-propos" class="full-page-section" (mouseenter)="setCurrentSection('a-propos')">
      <h2>Trello en action</h2>
      <div class="a-propos-content">
        <!-- Contenu de Trello en action -->
      </div>
    </div>
  
  </ng-container>
</div>


<ng-template #userHomePage>
  <app-user-home-page></app-user-home-page>
</ng-template>